table {
    font-size: 16px;
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    height: 100px;
}
.key {
    height: 50px;
}
.first {
    border-top: 1px solid black;
}
.glyph-name {
    font-family: monospace;
    font-weight: bold;
}
.alt-or-lig-name {
    font-family: monospace;
}
.lily-side {
    background-color: white;
}
.new {
    background-color: palegoldenrod;
}
.smufl-recommended {
    background-color: lightgreen;
}
.optional-in-bravura {
    background-color: lightgreen;
}
.new-to-smufl {
    background-color: palegoldenrod;
}
.contentious {
    background-color: lightcoral;
}
.rejected {
    background-color: lightslategray;
}
.note {
    background-color: white;
    color: gray;
    font-size: initial;
    font-style: italic;
}
.bravura, .emmentaler {
    font-size: 24px;
    text-align: center;
}
.bravura {
    font-family: "Bravura";
}
.emmentaler {
    font-family: "Emmentaler";
}
@font-face
{
    font-family: "Bravura";
    src: url("./bravura/Bravura.otf");
}
@font-face
{
    font-family: "Bravura Text";
    src: url("https://w3c.github.io/smufl/latest/media/BravuraText.woff")
}
@font-face
{
    font-family: "Emmentaler";
    src: url("./emmentaler/emmentaler-20.otf");
}
